:root{
        /* --primary-color:; */
        --navyblue: #2E2F42;
        --white: #ffffff;
        --cornflower: #E7E9FC;
        --iris:#4D5AE5;
        --ocean: #404BBF;



}
body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color:var(--white);
}
h1, h2, h3, h4, h5, h6, p {
        margin-top: 0;
        margin-bottom: 0;
}
ul, ol{
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}
li{
    list-style: none;
}
img{
        display: block;
}
a{
    text-decoration: none;}
.section{
        padding-top: 120px;
        padding-bottom: 120px;
}
.container{
                width: 1158px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 15px;
                padding-right: 15px;
    }

.title-section{
                color: #2E2F42;
                text-align: center;
                font-size: 36px;
                font-weight: 700;
                line-height: 1.11;
                letter-spacing: 0.72px;
                text-transform: capitalize;

                margin-bottom: 72px;
}

/* ===== Верхняя линия ===== */
.header{
        /* padding: 24px 0; */
        border-bottom: 1px solid #E7E9FC;
        background:var(--white);
}
.page-header-container{
                        display: flex;
}
.logo{
        display: flex;
        font-family:"Raleway", sans-serif;
        color:var(--iris);
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;

        margin-right: 76px;
}
.black-logo{
             color: #2E2F42;
}
.black-logo:hover,
.black-logo:focus{
                    color:var(--iris);
}
.logo:hover,
.logo:focus{
                    color:var(--iris);
}
.navigation{
                display: flex;
                align-items: center;
}
.list-link-nav{
                display: flex;
                gap: 40px;
        }
.link-nav{
                color: #2E2F42;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.50;
                letter-spacing: 0.32px;
                padding: 24px 0;
}

.link-nav:hover, 
.link-nav:focus{
                        color:var(--ocean);
}
.list-link-address{
                        display: flex;
                        gap: 40px;
                        padding: 24px 0;
}
.header-address{
                font-style: normal;
                margin-left: auto;
}
.header-address a{
                color: #434455;
                font-size: 16px;
                line-height: 1.50;
                letter-spacing: 0.32px;
}

.link-address:hover,
.link-address:focus{
                    color:var(--ocean);
}
/* ===== 1 Секция Hero ===== */
.hero{
        background:#2E2F42;
        padding: 188px 0;
        text-align: center;
}
.hero-title{
                color: var(--white);
                font-size: 56px;
                font-weight: 700;
                line-height: 1.07;
                letter-spacing: 0.02em;

                max-width: 496px;
                margin-bottom: 64px;
                margin-left: auto;
                margin-right: auto;
}

.hero-button{
                display: block;
                background: var(--iris);
                cursor: pointer;
                color: var(--white);
                font-family: "Roboto", sans-serif;
                /* Button Text */
                font-size: 16px;
                font-weight: 500;
                line-height: 1.50;

                border: none;
                border-radius: 4px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
                
                min-width: 169px;
                height: 56px;
                padding: 16px 32px;
                margin-left: auto;
                margin-right: auto;
        
}

.hero-button:hover, 
.hero-button:focus{
                     background: var(--ocean);
}

/* ===== 2 Секция Наши особенности ===== */
.visually-hidden {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;
}
.title-bold {
                color: #2E2F42;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: 0.4px;

                margin-bottom: 8px;
}

.title-normal {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
.features-list{
        display: flex;
        gap: 24px;
}

.features-list-item{
        width: calc((100% - 72px)/4);
}
/* ===== 3 Секция Наша команда ===== */
.our-team{
            background-color: #F4F4FD;
            padding-top: 120px;
            padding-bottom: 120px;
}

.team-list{
        display: flex;
        gap: 24px;
}
.ident {
        padding: 32px 0;
}
.name {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        text-align: center;
        margin-bottom: 8px;
}

.speciality {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        text-align: center;
}
.card{
        /* background-color:var(--white); */

        border-radius: 0px 0px 4px 4px;
        background: var(--white);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

        width: calc((100% - 72px)/4);
}
/* ===== Наши Портфолио ===== */
.portfolio-list{
                display: flex;
                flex-wrap: wrap;
                column-gap: 24px;
                row-gap: 48px;
}

.project-card{
                border: 1px solid var(--cornflower, #E7E9FC);
                border-top: none;
                background: var(--white, #FFF);
                padding: 32px 16px;
}
/* ===== Секция Футер ===== */
.footer{
        background: #2E2F42;
        padding: 100px 0;
}
.footer-logo {
        display: inline-block;
        font-family: "Raleway", sans-serif;
        color: var(--iris);
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;

        margin-bottom: 16px;
}
.white-logo{
                color: #F4F4FD;
                display: inline-block;
                margin-bottom: 16px;
}
.white-logo:hover,
.white-logo:focus{
                    color: var(--iris);
}
.footer-text{
            color: #F4F4FD;
            line-height: 1.5;
            letter-spacing: 0.02em;
            width: 264px;
}